<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>19/02/24 16:25:22</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:com.framework.testcases.TC002_CreateLead@13a5fe33]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/24 16:25:22</td>   <td>359</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:com.framework.testcases.TC002_CreateLead@13a5fe33]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>19/02/24 16:25:22</td>   <td>375</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:com.framework.testcases.TC002_CreateLead@13a5fe33]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>19/02/24 16:25:22</td>   <td>875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC002_CreateLead@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/24 16:25:29</td>   <td>7329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.framework.testcases.TC002_CreateLead@13a5fe33]">createLead</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>19/02/24 16:25:43</td>   <td>21733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC002_CreateLead@13a5fe33]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>19/02/24 16:25:46</td>   <td>23972</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:com.framework.testcases.TC002_CreateLead@13a5fe33]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
</table>
